# Environment
APP_ENV=dev
APP_SECRET=change_this_secret_key_in_production

# Database (PostgreSQL)
DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"

# SmartLombard API
# ВАЖНО: Получите ДЕЙСТВИТЕЛЬНЫЕ ключи на: https://online.smartlombard.ru/admin2/settings/users/
# Шаги:
# 1. Войдите в СмартЛомбард (https://online.smartlombard.ru)
# 2. Перейдите в раздел: Кнопка профиля (справа сверху) -> Мои настройки
# 3. Внизу выбрать "Доступ к ключам API" на "С доступом"
# 4. Забрать секретный ключ (будет в LOMBARD_SECRET_KEY)
# 5. Забрать номер пользователя (в пути, вроде https://online.smartlombard.ru/admin2/settings/users/edit/?account_id=xxxxx, где в конце xxxxx - номер)
# 6. Замените значения ниже на полученные из панели
# (данные примера ниже некорректные!)
LOMBARD_SECRET_KEY="ob7SS1svk2z5px9476QM4jmM4jy7YevhX"
LOMBARD_ACCOUNT_ID="012345"

# Ссылка для генерации абсолютных URL в CLI (например, для сообщений)
DEFAULT_URI=http://localhost
